.RoomList {
  text-align: center;
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Room-box-free {
  width: 150px;
  border: 5px solid black;
  padding: 25px;
  margin: 10px;
  float: left;
  list-style-type: none;
  background: green;
}
.Room-box-used {
  width: 150px;
  border: 5px solid black;
  padding: 25px;
  margin: 10px;
  float: left;
  list-style-type: none;
  background: red;
}