apscheduler==3.5.3
beautifulsoup4==4.6.3
billiard==3.5.0.5
docopt==0.6.2
flask-jsglue==0.3.1
flask-migrate==2.3.1
flask-script==2.0.6
flask-session==0.3.1
gunicorn==19.9.0
html5lib==1.0.1
kombu==4.2.1
pandas==0.23.4
pip-chill==0.1.8
pylint==2.1.1
pyopenssl==18.0.0
yarg==0.1.9
